.nav-category {
    border-bottom: none;
    font-size: 1em !important;
    font-weight: bold;
    color: $ezstak-orange;
}

.side-bar {
    a {
        color: $ezstak-white;
    }

    .icon {
        color: $ezstak-orange;
    }
}
.site-header {
    border-bottom: none;
}

@media (min-width: 50rem) {
    .side-bar {
        align-items: flex-start;
        padding-top: 31px;
    }
}

@media (min-width: 66.5rem) {
    .site-nav,
    .site-header,
    .site-footer {
        width: 100%;
    }
}