$sidebar-color: $ezstak-black;

$body-background-color: $ezstak-white;
$body-heading-color: $ezstak-orange;
$body-text-inverse-color: $ezstak-white;
$body-text-color: $ezstak-black;

$link-color: $ezstak-blue;

$nav-child-link-color: $ezstak-orange;
$sidebar-color: $ezstak-black;

$base-button-color: $ezstak-orange;
$btn-primary-color: $ezstak-orange;

$code-background-color: $white;
$feedback-color: $ezstak-grey;
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $ezstak-grey;